.table {
  border-collapse: collapse;
  width: 100%;
}

.th {
  padding: 10px;
  text-align: left;
  background-color: #f4f4f4;
}

.td {
  padding: 10px;
}

.tr {
  border-bottom: 1px solid #ddd;
}

.actionButton {
  padding: 6px 12px;

  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #bfccd9;
}

.paginationContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginationButton {
  padding: 8px 20px;
  font-size: 16px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.paginationButton:hover:not(:disabled) {
  background-color: #3f51b5;
  color: white;
}

.paginationButton:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
  color: #333;
}
